*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Open_Modal{
    /* display: none; */
    transition: all 0.5s ease-in-out;
    visibility: hidden;
}

.Open_Modal.active{
    /* display: block; */
    visibility: visible;
    transition: all 5s ease-in-out;
}

.Open_Modal_btn.active{
    transition: all 0.5s ease-in-out;
    display: none;
}

.Open_Modal_btn{
    display: block;
}

.body-bg-modal{
    background-color: rgb(252, 252, 252);
}

.body-bg-modal.active{
    transition: all 0.5s ease-in-out;
    background-color: rgba(179, 180, 180, 0.607);
}